 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}
 
.nav {
    width: 100%;
    padding: 20px 0;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.07);
    position: sticky;
    top: 0;
    z-index: 999;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.nav__img{
    width: 145px;
    cursor: pointer;
}
 
.nav__list{
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
    position: relative;
}

.nav__link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #2B2B2B;
    position: relative;
    transition: 0.3s ease;
}
 
.nav__link:hover{
    color: #5A7BFF;
}

.nav__link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #5A7BFF;
    left: 0;
    bottom: -4px;
    transition: .3s;
}

.nav__link:hover::after {
    width: 100%;
}
 
.nav-hover-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(90, 123, 255, 0.15);
    height: 30px;
    width: 0;
    border-radius: 6px;
    z-index: -1;
    transition: 0.3s ease;
}
 
.bars{
    display: none;
    cursor: pointer;
}

.bar{
    width: 28px;
    height: 3px;
    background: #333;
    margin: 5px 0;
    transition: 0.3s;
}
 
@media (max-width: 768px){

    .nav__list{
        position: absolute;
        top: 80px;
        right: 0;
        background: white;
        width: 260px;
        flex-direction: column;
        padding: 25px;
        gap: 25px;
        box-shadow: 0 5px 25px rgba(0,0,0,0.12);
        transform: translateX(120%);
        transition: .4s ease;
    }

    .nav__list.active{
        transform: translateX(0);
    }

    .bars{
        display: block;
    }
 
    .nav-hover-bg{
        display: none;
    }

   
    .nav__link{
        font-size: 17px;
    }
}



/* --------------------------fooooooooooooter---------------------------- */



.footer  {
    width: 100%;
    padding: 20px 0;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 999;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-img{
    width: 140px;
    cursor: pointer;
}


.footer-list{
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
    position: relative;
}

.footer-link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #2C2C2C;
    position: relative;
    transition: 0.3s ease;
}


.footer-link:hover{
    color: #4c7cff;
}

.footer-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #4c7cff;
    left: 0;
    bottom: -4px;
    transition: .3s ease;
}

.footer-link:hover::after {
    width: 100%;
}


.footer-hover-bg {
    position: absolute;
    width: 0;
    height: 30px;
    background: rgba(76,124,255,0.12);
    border-radius: 6px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: .3s ease;
}

.bars{
    display: none;
    cursor: pointer;
}

.bar{
    width: 28px;
    height: 3px;
    background: #333;
    margin: 5px 0;
    transition: 0.3s;
}


@media (max-width: 768px){
    .footer-list{
        position: absolute;
        top: 80px;
        right: 0;
        background: #ffffff;
        width: 250px;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.1);
        transform: translateX(120%);
        transition: .4s ease;
    }

    .footer-list.active{
        transform: translateX(0);
    }

    .bars{
        display: block;
    }

    .footer-hover-bg{
        display: none;
    }
}